*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}
#navbar .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
}
#navbar .nav-container ul{
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 32px;
    flex-direction: row;
    max-width: 450px;
    cursor: pointer;

}
#navbar .nav-btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFF;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#hero {
    width: 100%;
    height:800px;
    margin: 0;
    
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
#hero .hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin: 0 auto;
    padding: 0 auto;
    
}

#hero .hero-heading{
    margin-top: 150px;
}
#hero .hero-heading h6{
    cursor: pointer;
    display: inline-block;
    border-radius: 1000px;
    color: #30B868;
    font-size: 22px;
    margin-bottom: 10px;
    background-color: white;
    border:1px solid #30B868;
    padding: 8px 12px;
}
#hero .hero-container p{
    font-size: 90px;
    margin: 0px 295px;
}
#hero .hero-container .white{
    color: white;
}
#hero .hero-container .green{
    color: green;
}
#hero .text-container .text{
    line-height: 30px;
    font-size: 23px;
    width: 700px;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
#hero .hero-btn{
    display: flex;
    gap: 20px;
    flex-direction: row;
    
    
    
}
#hero .hero-btn .arro-btn{
    display: flex;
    border: none;
    flex-direction: row;
    gap: 10px;
    font-size: 23px;
    padding: 12px 16px;
    color: white;
    background-color: #30B868;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}
#hero .hero-btn .arro-btn img{
    color: white;
}
#hero .hero-btn .normal-btn{
    cursor: pointer;
    background: none;
    padding: 12px 16px;
    font-size: 23px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

#down .down-container{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    padding: 70px auto ;
    text-align: center;
    padding-top: 70px;
}
#down .down-container h3{
    font-size: 70px;
    font-weight: bold;
}
#down .down-container p{
    font-size: 23px;
    font-weight: 400px;
    color: #8e8d8d;
}
#down .card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 70px auto ;
    padding-top: 80px;
    gap: 70px;
}
#down .card .main-card{
    text-align: center;
    padding: 30px 20px;
    height: 290px;
    align-content: center;
    
    box-shadow:0 0 6px 0px rgb(215, 213, 213) ;
    
}
#down .card .main-card img {
    background-color: rgb(251, 68, 7);
    padding: 18px;
    margin-bottom: 10px;
    border-radius: 50%;
}
#down{
    margin: 0 150px ;
}
#down .card .main-card h4{
    font-size: 35px;
    padding-bottom: 10px;
    font-weight: bold;
}
#brain .brain-contain{
    margin: 110px;
    display: flex;
    align-items: center;
    gap: 30px;
}
#brain .brain-contain .brain-text{
    width: 500px;
    height: 800px;
    padding-top: 50px;
   
}
#brain .brain-contain .brain-text .txt{
    color: #30B868;
    font-size: 23px;
    font-family: 300px;
    margin-bottom: 20px;
}
#brain .brain-contain .brain-text h2{
    font-size: 50px;
    font-style: bold;
    margin-bottom: 20px;
}
#brain .brain-contain .brain-text .left{
    line-height: 24px;
    margin-bottom: 30px;
    font-weight: 800px;
    color: #8e8d8d;
    font-size: 20px;
}





#brain .brain-contain .brain-text .box{
    display: flex;
    flex-direction: column;
    
  
    
}
#brain .brain-contain .brain-text .right .box{
    
    margin-top: 10px;
    align-content: center;
}
#brain .brain-contain .brain-text .right .box span{
    align-items: center;
}

#brain .brain-contain .brain-img{
    width: 800px;
    height: 800px;
    
    
}