*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}
#navbar .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
}
#navbar .nav-container ul{
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 32px;
    flex-direction: row;
    max-width: 450px;
    cursor: pointer;

}
#navbar .nav-btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFF;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#hero {
    width: 100%;
    height:800px;
    margin: 0;
    
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
#hero .hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin: 0 auto;
    padding: 0 auto;
    
}

#hero .hero-heading{
    margin-top: 150px;
}
#hero .hero-heading h6{
    cursor: pointer;
    display: inline-block;
    border-radius: 1000px;
    color: #30B868;
    font-size: 22px;
    margin-bottom: 10px;
    background-color: white;
    border:1px solid #30B868;
    padding: 8px 12px;
}
#hero .hero-container p{
    font-size: 90px;
    margin: 0px 295px;
}
#hero .hero-container .white{
    color: white;
}
#hero .hero-container .green{
    color: green;
}
#hero .text-container .text{
    line-height: 30px;
    font-size: 23px;
    width: 700px;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
#hero .hero-btn{
    display: flex;
    gap: 20px;
    flex-direction: row;
    
    
    
}
#hero .hero-btn .arro-btn{
    display: flex;
    border: none;
    flex-direction: row;
    gap: 10px;
    font-size: 23px;
    padding: 12px 16px;
    color: white;
    background-color: #30B868;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}
#hero .hero-btn .arro-btn img{
    color: white;
}
#hero .hero-btn .normal-btn{
    cursor: pointer;
    background: none;
    padding: 12px 16px;
    font-size: 23px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}