*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}
#navbar .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    margin: 10px 0px;
}
#navbar .nav-logo{
    width: 200px;
     
}
#navbar .nav-container ul{
    display: flex;
    list-style: none;
    font-size: 25px;
    gap: 32px;
    flex-direction: row;
    max-width: 700px;
    cursor: pointer;

}
#navbar .nav-btn{
    padding: 15px 23px;
    
    background-color: #469165;
    color: #FFFF;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#hero {
    width: 100%;
    height:800px;
    margin: 0;
    
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
#hero .hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin: 0 auto;
    padding: 0 auto;
    
}

#hero .hero-heading{
    margin-top: 150px;
}
#hero .hero-heading h6{
    cursor: pointer;
    display: inline-block;
    border-radius: 1000px;
    color: #30B868;
    font-size: 30px;
    margin-bottom: 10px;
    background-color: white;
    border:1px solid #30B868;
    padding:12px 18px;
}
#hero .hero-container p{
    font-size: 120px;
    padding-top: 25px;
    line-height: 85px;
    margin: 0px 295px;
}
#hero .hero-container .white{
    color: white;
}
#hero .hero-container .green{
    color: green;
}
#hero .text-container .text{
    line-height: 30px;
    font-size: 30px;
    width: 700px;
    color: white;
    text-align: center;
    padding: 30px 0px;
}
#hero .hero-btn{
    display: flex;
    gap: 20px;
    flex-direction: row;
    
    
    
}
#arro-btn{
    display: flex;
    border: none;
    flex-direction: row;
    gap: 10px;
    font-size: 23px;
    padding: 12px 16px;
    color: white;
    background-color: #30B868;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}
#hero .hero-btn .arro-btn img{
    color: white;
}
#hero .hero-btn .normal-btn{
    cursor: pointer;
    background: none;
    padding: 12px 16px;
    font-size: 23px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

#down .down-container{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    padding: 70px auto ;
    text-align: center;
    padding-top: 70px;
}
#down .down-container h3{
    font-size: 70px;
    font-weight: bold;
}
#down .down-container p{
    font-size: 23px;
    font-weight: 400px;
    color: #8e8d8d;
}
#down .card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 70px auto ;
    padding-top: 80px;
    gap: 30px;
}
#down .card .main-card{
    text-align: center;
    padding: 30px 20px;
    height: 290px;
    align-content: center; 
    box-shadow:0 0 6px 0px rgb(215, 213, 213) ;
} 
#down .card .main-card h4{
    font-size: 35px;
}
#down .card .main-card p{
    font-size: 23px;
}
#down .card .main-card img {
    background-color: rgb(251, 68, 7);
    padding: 18px;
    margin-bottom: 10px;
    border-radius: 50%;
}
#down{
    margin: 0 150px ;
}
#down .card .main-card h4{
    font-size: 35px;
    padding-bottom: 10px;
    font-weight: bold;
}
#brain .brain-contain{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
#brain .brain-contain .brain-text{
    max-width: 800px;
    height: 1200px;
    padding-top: 150px;
    margin-right: 300px;
     
}
#brain .brain-contain .brain-text .txt{
    color: #30B868;
    font-size: 37px;
    font-family: 300px;
    margin-bottom: 20px;
}
#brain .brain-contain .brain-text h2{
    font-size: 75px;
    font-style: bold;
    margin-bottom: 20px;
}
#brain .brain-contain .brain-text .left{
    line-height: 35px;
    max-width: 800px;
    margin-bottom: 35px;
    font-weight: 800px;
    color: #8e8d8d;
    font-size: 35px;
} 
#brain .brain-contain .brain-text .box{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    line-height: 35px;
} 
#brain .brain-contain .brain-text .right .box{
    
    margin-top: 10px;
    align-content: center;
}
#brain .brain-contain .brain-text .right .box span{
    align-items: center;
}

#brain .brain-contain  .brain-photo{
    
    width: 800px;
    height: 800px;
} 
#challenge{
    background: rgba(247, 246, 242, 1);
    margin: 140px;
    border-radius: 25px;
    margin-top: 0px;
}
.challenge-container{
 
    
    display: flex;
    flex-direction: column;
    align-items: center;
     
    padding: 120px 120px 120px 120px;
   
}
.challenge-container h2{
     
    font-size: 40px;
    font-weight: 700px;
    line-height: 47px;
    margin-bottom: 10px;
}
.challenge-container p{
     
    font-size: 20px;
    color: #8e8d8d;
    line-height: 28px;
    margin-left: 200px;
    margin-right: 200px;
}
.challenge-container .challenge-btn{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 25px 0px;
}
#footer{
    background:  rgba(0, 25, 49, 1)  ;
    height: 370px;
}
footer .footer-container{
    margin: 150px;
}
#footer p{
    color: #FFFF;
    font-size: 20px;
    font-weight: 700px;
    text-align: center;
}
#footer .footer-text{
    display: flex;
    justify-content: space-between;
    padding: 120px;
    
}
#footer .footer-text h5{
    color: #FFFF;
    font-size: 30px;
}
#footer .footer-text ul{
    list-style: none;
    display: flex;
    
}
#footer .footer-text ul li a img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}